main{
	background-color: $darkWhite;
	color: $black;
}

body{
	font-family: 'Montserrat', sans-serif;
	@include fontSizes($size: 16px, $weight: 400, $line: 24px);
	color: $white;
}

.container{
	margin: 0 auto;
	max-width: 1300px;
	padding: 0 15px;
	box-sizing: border-box;
}

p, h1, h2, h3, ul{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: $white;
}

li{
	list-style-type: none;
}

.red{
	color: $red;
}

.blue{
	color: $blue;
}

.button{
	@include fontSizes($size: 18px, $weight: 400);
	@include sizes($width: 340px);
	color: $white;
	padding: 12px 0;
	border: 2px solid $borderButtons;
	border-radius: 10px;
	background-color: $backgroundButtons;
	transition: $transition;
	text-align: center;
	&:hover{
		background-color: $borderButtons;
		cursor: pointer;
	}
	@media screen and (max-width: 900px) {
		@include sizes($width: 320px);
	}
	@media screen and (max-width: 768px) {
		max-width: 260px;
	}
	@media screen and (max-width: 600px) {
		max-width: 220px;
		padding: 8px 0;
		font-size: 18px;
	}
}

.logo-bmw{
	position: relative;
	z-index: 2;
	img{
		@media screen and (max-width: 600px) {
			@include sizes($width: 46px);
		}
	}
	&:hover{
		transform: scale(1.1);
		transition: $transition;
	}
}

.logo-M2{
	@include sizes(120px, 50px);
	@media screen and (max-width: 900px) {
		@include sizes(110px, 40px);
	}
	@media screen and (max-width: 600px) {
		@include sizes(90px, 30px);
	}
}

.title-pages{
	@include fontSizes($size: 32px, $weight: 400);
	letter-spacing: 12px;
	padding-bottom: 30px;
	text-indent: 30px;
	@media screen and (max-width: 1070px) {
		font-size: 28px;
		letter-spacing: 8px;
		padding-bottom: 24px;
	}
	@media screen and (max-width: 440px) {
		font-size: 22px;
		letter-spacing: 4px;
		padding-bottom: 16px;
	}
}

img{
	max-width: 100%;
}

.dark-wrapper{
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	&.active{
		display: block;
		background: rgba(0,0,0,.5);
		transition: $transition;
		z-index: 1;
	}
}