/*-------Panel start------------*/
.panel__container{
	padding: 180px 0 100px 0;
	display: flex;
	column-gap: 50px;
}
/*------Panel end---------------*/



/*-------Sidebar start------------*/
.sidebar{
	background: rgb(96, 96, 146);
	height: 400px;
	padding: 16px 10px;
	width: 20%;
	ul a{
		padding: 18px;
		display: block;
		border-bottom: 1px solid rgb(33, 33, 53);
		font-size: 18px;
		font-weight: 700;
		font-style: italic;
		&:hover{
			margin-left: -10px;
			cursor: pointer;
			transition: all 0.25s ease-in-out;
		}
	}
}
/*-------Sidebar end--------------*/



/*--------Panel body start----------*/
.panel__button{
	background:  #198754 !important;
	border: 2px solid green !important;
	margin-bottom: 30px;
	&:hover{
		background: green;
	}
}

.panel__title{
	text-align: center;
}

.panel__body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 16px;
	width: 70%;
}

.panel__titles,
.panel__block{
	display: flex;
	align-items: center;
	width: 100%;
}

.panel__titles h2:first-child,
.panel__block span:first-child{
	width: 10%;
}

.panel__titles h2{
	font-size: 22px;
	width: 22%;
}

.panel__block{
	padding-bottom: 6px;
	border-bottom: 1px solid grey;
	span{
		font-size: 20px;
		width: 22%;
		padding: 10px 0;
	}
}

.panel__buttons{
	display: flex;
	column-gap: 20px;
}

.panel__edit{
	color: #198754;
	font-size: 18px;
}

.panel__del{
	font-size: 18px;
	color: red;
}

.panel__del:hover,
.panel__edit:hover{
	text-decoration: underline;
	cursor: pointer;
}
/*--------Panel body end------------*/


//----------Media queries start---------
@media screen and (max-width: 1070px) {
	.company__container {
		padding: 180px 0 80px 0;
	}

	.company__links{
		flex-direction: column;
		row-gap: 40px;
		.company__link{
			margin: 0 auto;
		}
  	}

	.link__title{
		min-height: 40px;
	}

	.company__data {
		row-gap: 12px;
  	}
}


@media screen and (max-width: 600px) {
	.company__container {
		padding: 140px 0 70px 0;
		row-gap: 50px;
  }

  .company__title, .shop__title {
		font-size: 28px;
		letter-spacing: 4px;
		text-indent: 40px;
		line-height: 30px;
	}

	.company__shop {
		row-gap: 12px;
  	}

	.company__shop p,
	.company__data p {
		text-indent: 16px;
		font-size: 14px;
		line-height: 18px;
  	}

	.shop__list li{
		font-size: 14px;
		line-height: 18px;
	}

	.company__links{
		row-gap: 30px;
	}

	.company__links .company__link {
		width: 50%;
  }

  	.company__data {
		row-gap: 8px;
	}
}

@media screen and (max-width: 450px) {
	.company__links .company__link {
		width: 100%;
  }
}
//----------Media queries end-----------