/*------Section start, about, contact----------*/
.start{
	background: url(../images/dest/main.jpg) no-repeat center;
	background-size: cover;
	height: auto;
	width: 100%;
	padding: 220px 0 450px 0;
	&__container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
	}
}

.start__title{
	font-weight: 600;
	letter-spacing: 8px;
	font-style: italic;
	text-transform: uppercase;
	font-size: 36px;
	line-height: 40px;
	color: #FFFFFF;
}

.contact{
	background: url('../images/dest/contacts.jpg') no-repeat right;
}

.about{
	background: url('../images/dest/about.jpg') no-repeat center;
}

.about,
.contact,
.service{
	margin-top: 100px;
}

.about,
.contact{
	padding: 110px 0 460px 0;
	width: 100%;
	height: auto;
	background-size: cover;
	&__container, 
	&__container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
	}
}


.start__desc,
.about__desc, 
.contact__desc{
	text-align: right;
	font-size: 20px;
	font-style: italic;
	letter-spacing: 4px;
	color: #FFFFFF;
	span{
		font-weight: 700;
		font-size: 28px;
	}
}

.about__title, 
.contact__title{
	font-style: italic;
	text-transform: uppercase;
	font-size: 28px;
	line-height: 28px;
	font-weight: 700;
	letter-spacing: 4px;
	color: #FFFFFF;
}

.start__newcar, 
.about__newcar, 
.contact__content{
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.contact__item,
.about__item,
.start__item{
	display: flex;
	column-gap: 20px;
	align-items: center;
}
/*--------Section start, about, contact end----------------*/



/*--------Section cars start-----------*/
.cars{
	margin-top: 100px;
	color: black;
	&__container{
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}
}

.cars__title,
.service__title{
	font-size: 40px;
	font-weight: 600;
	font-style: italic;
	letter-spacing: 12px;
	line-height: 36px;
}

.cars__items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	.car__item{
		display: flex;
		flex-direction: column;
		&-name{
			font-style: italic;
			font-weight: 500;
			letter-spacing: 2px;
		}
	}
}

.cars__button{
	margin: auto 0 auto auto;
}
/*--------Section cars end-------------*/


/*--------Section service start--------*/
.service__title{
	text-align: center;
	color: black;
	padding-bottom: 30px;
}

.service__container{
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.service__items{
	display: flex;
	column-gap: 60px;
	row-gap: 30px;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	.service__item{
		position: relative;
		&-img{
			border-radius: 10px;
		}
		&:hover{
			transform: scale(1.1);
			transition: all 1s ease-in-out;
			cursor: pointer;
		}
	}
}

.service__desc{
	position: absolute;
	left: 5%;
	top: 5%;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	color: #FFFFFF;
	span{
		font-size: 22px;
		font-weight: 400;
		font-style: italic;
	}
	img{
		border-radius: 10px;
		width: 100%;
		object-fit: cover;
	}
}

.bg-fon{
	background-color:rgba(0,0,0,.4);
	height: 98%;
	position:absolute;
	width:100%;
	top:0;
	left:0;
	border-radius: 10px;
}

.service__button{
	margin: 0 auto;
}
/*--------Section service end----------*/


//------------Media queries start----------------
@media screen and (max-width: 900px) {

	.start{
		padding: 180px 0 350px 0;
		&__title{
			font-size: 30px;
			line-height: 32px;
		}
	}

	.cars__title, .service__title{
		font-size: 36px;
		line-height: 36px;
	}

	.about, .contact {
		padding: 100px 0 300px 0;
	}

	.about__title, .contact__title {
		font-size: 24px;
		line-height: 28px;
  	}

	.about, .contact, .service {
		margin-top: 90px;
  	}

	.about__desc, .contact__desc, .start__desc {
		font-size: 16px;
  	}

	.about__desc span, .contact__desc span, .start__desc span {
		font-size: 24px;
  	}
}

@media screen and (max-width: 768px) {
	.start {
		padding: 150px 0 280px 0;
  }

  .start__title {
		font-size: 28px;
		line-height: 26px;
	}

	.about__desc span, .contact__desc span, .start__desc span {
		font-size: 20px;
  	}

	.cars, .about, .contact, .service {
		margin-top: 80px;
	}

	.about, .contact {
		padding: 90px 0 220px 0;
  }
}

@media screen and (max-width: 600px) {
	.start__container,
	.about__container,
	.contact__container{
		flex-direction: column;
		row-gap: 40px;
	}

	.about__desc, .contact__desc, .start__desc {
		font-size: 20px;
		display: block;
		margin: auto 0 auto auto;
  	}

	.about__desc span, .contact__desc span, .start__desc span {
		font-size: 24px;
  	}

	.start__title {
		font-size: 24px;
		line-height: 24px;
  	}

	.start {
		padding: 140px 0 160px 0;
  	}

	.about, .contact {
		padding: 80px 0 150px 0;
  	}
}

@media screen and (max-width: 440px) {
	.start{
		padding: 100px 0;
	}

	.start__item{
		flex-direction: column;
		row-gap: 20px;
	}

	.start__title{
		letter-spacing: 3px;
	}

	.about__desc span, .contact__desc span, .start__desc span {
		font-size: 20px;
  }

  .about__desc, .contact__desc, .start__desc {
		font-size: 16px;
		letter-spacing: 2px;
		font-weight: 900;
	}

	.about__title, .contact__title {
		font-size: 20px;
		line-height: 24px;
  }

  	.about, .cars, .contact, .service {
		margin-top: 60px;
	}

	.about, .contact {
		padding: 60px 0 70px 0;
  }

  .cars__title, .service__title {
		font-size: 30px;
		line-height: 30px;
		letter-spacing: 4px;
	}

	.service__title{
		padding: 0;
	}
}
//------------Media queries end----------------