@mixin backgroundFirstSectionPage($padding: $paddingFirstSectionPage) {
	position: relative;
	background-size: cover;
	height: auto;
	width: 100%;
	padding: $paddingFirstSectionPage;
}

@mixin fontSizes($size, $weight, $line: 130%, $style: normal) {
	font-size: $size;
	font-weight: $weight;
	line-height: $line;
	font-style: $style;
}

@mixin flexContainer($display: flex ,$direction: row, $justify: flex-start, $items: stretch) {
	display: $display;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $items;
}

@mixin sizes($width: 100%, $height: auto) {
	width: $width;
	height: $height;
}

@mixin background-fon($height: 100%) {
	@include sizes(100%, $height);
	background-color:rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
}