$paddingFirstSectionPage: 16% 0 28%;
$paddingSectionsPages: 12% 0 24%;
$white: #FFFFFF;
$darkWhite:  #e1e1e1;
$black: #000000;
$gray: rgb(130, 127, 127);
$lightGray:  rgb(198, 198, 198);
$red: rgb(247, 91, 91);
$darkRed: rgb(151, 2, 2);
$blue: rgb(95, 95, 249);
$darkBlue: rgb(55, 55, 128);
$borderButtons: rgb(65, 65, 250);
$backgroundButtons: rgb(127, 127, 244);
$fiolet: rgb(96, 96, 146);
$backgroundHeaderFooter:  rgb(51, 51, 81);
$green: rgb(0, 128, 0);
$darkGreen: #198754 ;

$transition: all 0.5s ease-in-out;