$paddingFirstSectionPage: 16% 0 28%;
$paddingSectionsPages: 12% 0 24%;
$white: #FFFFFF;
$black: #000000;
$gray: rgb(130, 127, 127);
$red: rgb(247, 91, 91);
$darkRed: rgb(151, 2, 2);


$backgroundHeaderFooter:  rgb(33, 33, 53);
$transition: all 0.5s ease-in-out;