//Для темного хедера
.header-blue{
	background-color: $backgroundHeaderFooter;
}

.header-blue__container{
 	border-bottom: none !important;
}

.header-blue__logout{
	padding: 15px 10px;
	background-color: $backgroundHeaderFooter;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.header{
	position: fixed;
	z-index: 2;
	width: 100%;
	top: 0;
	left: 0;
	&__container{
		padding-top: 30px;
		border-bottom: 1px solid #FFFFFF;
		@include flexContainer($justify: space-between, $items: center);
		@media screen and (max-width: 768px) {
			padding-top: 20px;
			.header__menu{
				display: none;
			}
		}
	}
}

.header__list{
	@include flexContainer;
	column-gap: 70px;
	@media screen and (max-width: 900px) {
		column-gap: 36px;
	}
}

.header__item-link{
	@include fontSizes(18px, 500);
	&:hover{
		color: aqua;
		transition: $transition;
	}
}

.header__active{
	@include flexContainer($justify: space-between, $items: center);
	column-gap: 30px;
	@media screen and (max-width: 768px) {
		@include flexContainer($direction: row-reverse, $justify: space-between, $items: center);
		width: 100%;
	}
}

.header__logout{
	@include flexContainer($direction: column);
	display: none;
	position: absolute;
	top: 88px;
	z-index: 2;
	padding: 16px;
	row-gap: 24px;
}

.header__cab-button{
	@include fontSizes(20px, 700);
	background: transparent;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
}

.header__cab{
	display: block;
	padding: 16px;
	i{
		margin-right: 12px;
	}
	.header__item{
		@include fontSizes(20px, 500);
		&:hover a{
			display: block;
			color: aqua;
			transition: $transition;
		}
	}
	&:hover .header__logout{
		display: flex;
		background: $backgroundHeaderFooter;
		border-radius: 10px;
	}
	@media screen and (max-width: 768px) {
		display: none;
	}
}

.header__scroll{
	transition: $transition;
	background-color: $backgroundHeaderFooter;
}

.header__container__scrool{
	transition: $transition;
	border-bottom: none;
}

.header__burger {
	@include sizes(30px, 24px);
	@include flexContainer($direction: column, $justify: space-between);
	order: -1;
	display: none;
	transition: $transition;
	&-line {
		display: block;
		background-color: $white;
		@include sizes (30px, 2px);
		position: relative;
		z-index: 10;
	}
	@media screen and (max-width: 768px) {
		display: flex;
	}
	&.active{
		z-index: 10;
		 display: flex;
		 transform: rotate(90deg);
	}
}

.burger__menu{
	display: none;
	transform: translateY(-100%);
	&-active{
		display: flex;
		transform: translateY(0);
	}
	@media screen and (max-width: 768px) {
		@include flexContainer($direction: column, $justify: flex-start);
		@include sizes(100%, 400px);
		transition: $transition;
		box-sizing: border-box;
		background-color: $darkBlue;
		border-bottom-left-radius: 10px;
		position: absolute;
		right: 0;
		top: 0;
		row-gap: 30px;
		padding: 20px;
		.header__cab{
			@include flexContainer($direction: column, $justify: center, $items: center);
			order: -1;
			row-gap: 24px;
		}
		.header__list{
			@include flexContainer($justify: center, $items: center);
			row-gap: 20px;
			flex-wrap: wrap;
			@media screen and (max-width: 600px) {
				row-gap: 16px;
			}
		}
		.header__item-link{
			font-size: 20px;
			@media screen and (max-width: 600px) {
				font-size: 16px;
			}
		}
		.header__logout{
			@include flexContainer($direction: column, $justify: space-between);
			top: 0;
			right: 0;
			position: relative;
			box-sizing: border-box;
			background: #212135;
			border-radius: 10px;
			@media screen and (max-width: 600px) {
				.header__item{
					font-size: 16px;
				}
			}
		}
	}
}