.panel__container{
	@include flexContainer;
	padding: 130px 0;
	margin-top: 90px;
	column-gap: 50px;
	@media screen and (max-width: 1070px) {
		padding: 100px 0;
	}
	@media screen and (max-width: 900px) {
		@include flexContainer($direction: column, $items: center);
		row-gap: 30px;
	}
	@media screen and (max-width: 768px) {
		margin-top: 80px;
		padding: 80px 0;
	}
}

.sidebar{
	@include sizes(20%, 400px);
	@include flexContainer($items: center);
	background: $fiolet;
	padding: 16px 10px;
	@media screen and (max-width: 900px) {
		padding: 12px 8px;
		justify-content: center;
		@include sizes(90%, 70px);
	}
	@media screen and (max-width: 768px) {
		min-height: 110px;
	}
	@media screen and (max-width: 440px) {
		min-height: 150px;
	}
}

.sidebar__items{
	@media screen and (max-width: 900px) {
		@include flexContainer($justify: space-between);
		border-bottom: none;
	}
	@media screen and (max-width: 768px) {
		gap: 14px;
		flex-wrap: wrap;
		justify-content: center;
	}
	li{
		width: 100%;
		@media screen and (max-width: 900px) {
			width: auto;
		}
	}
	a{
		@include fontSizes($size: 18px, $weight: 700, $style: italic);
		padding: 18px;
		display: block;
		border-bottom: 1px solid $backgroundHeaderFooter;
		&:hover{
			margin-left: -10px;
			cursor: pointer;
			transition: $transition;
			@media screen and (max-width: 900px) {
				margin-left: 0;
				background: $black;
				cursor: pointer;
				transition: all 0.25s ease-in-out;
			}
		}
		@media screen and (max-width: 900px) {
			padding: 10px;;
		}
		@media screen and (max-width: 768px) {
			font-size: 16px;
		}
	}
}

.panel__button{
	background: $darkGreen !important;
	border: 2px solid $green !important;
	margin-bottom: 30px;
	&:hover{
		background: $green;
	}
}

.panel__title{
	text-align: center;
}

.panel__body{
	@include flexContainer($direction: column, $justify: space-between);
	@include sizes($width: 70%);
	row-gap: 16px;
	@media screen and (max-width: 900px) {
		@include sizes;
	}
}

.panel__titles,
.panel__block{
	@include flexContainer($items: center);
	@include sizes;
}

.panel__titles h2:first-child,
.panel__block span:first-child{
	@include sizes($width: 10%);
}

.panel__titles h2{
	@include sizes($width: 22%);
	font-size: 22px;
	@media screen and (max-width: 768px) {
		font-size: 18px;
	}
	@media screen and (max-width: 440px) {
		font-size: 14px;
	}
}

.panel__block{
	padding-bottom: 6px;
	border-bottom: 1px solid $gray;
	span{
		@include sizes($width: 22%);
		font-size: 20px;
		padding: 10px 0;
		@media screen and (max-width: 768px) {
			font-size: 16px;
			padding: 5px 0;
		}
		@media screen and (max-width: 440px) {
			font-size: 12px;
		}
	}
}

.panel__buttons{
	display: flex;
	column-gap: 20px;
	@media screen and (max-width: 768px) {
		row-gap: 8px;
		flex-direction: column;
	}
}

.panel__edit{
	color: $darkGreen;
}

.panel__del{
	color: $red;
}

.panel__del,
.panel_edit{
	font-size: 18px;
	@media screen and (max-width: 600px) {
		font-size: 14px;
	}
	&:hover{
		text-decoration: underline;
		cursor: pointer;
	}
}