//-------Panel start------------
.panel__container{
	padding: 180px 0 100px 0;
	display: flex;
	column-gap: 50px;
}
//------Panel end---------------



//-------Sidebar start------------
.sidebar{
	background: rgb(96, 96, 146);
	height: 400px;
	padding: 16px 10px;
	width: 20%;
	ul a{
		padding: 18px;
		display: block;
		border-bottom: 1px solid rgb(33, 33, 53);
		font-size: 18px;
		font-weight: 700;
		font-style: italic;
		&:hover{
			margin-left: -10px;
			cursor: pointer;
			transition: all 0.25s ease-in-out;
		}
	}
}
//-------Sidebar end--------------



//--------Panel body start----------
.panel__button{
	background:  #198754 !important;
	border: 2px solid green !important;
	margin-bottom: 30px;
	&:hover{
		background: green;
	}
}

.panel__title{
	text-align: center;
}

.panel__body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 16px;
	width: 70%;
}

.panel__titles,
.panel__block{
	display: flex;
	align-items: center;
	width: 100%;
}

.panel__titles h2:first-child,
.panel__block span:first-child{
	width: 10%;
}

.panel__titles h2{
	font-size: 22px;
	width: 22%;
}

.panel__block{
	padding-bottom: 6px;
	border-bottom: 1px solid grey;
	span{
		font-size: 20px;
		width: 22%;
		padding: 10px 0;
	}
}

.panel__buttons{
	display: flex;
	column-gap: 20px;
}

.panel__edit{
	color: #198754;
	font-size: 18px;
}

.panel__del{
	font-size: 18px;
	color: red;
}

.panel__del:hover,
.panel__edit:hover{
	text-decoration: underline;
	cursor: pointer;
}
//--------Panel body end------------


//----------Media queries start--------
@media screen and (max-width: 900px) {
	.panel__container{
		flex-direction: column;
		align-items: center;
		padding: 140px 0 80px 0;
		row-gap: 30px;
	}

	.sidebar {
		height: 70px;
		padding: 12px 8px;
		width: 90%;
		justify-content: center;
		ul{
			display: flex;
			justify-content: space-between;
			a{
				padding: 10px;
				&:hover{
					margin-left: 0;
					background: #212135;
					cursor: pointer;
					transition: all 0.25s ease-in-out;
				}
			}
		}
	}

	.panel__body{
		width: 100%;
	}
}


@media screen and (max-width: 768px) {
	.sidebar{
		min-height: 110px;
		ul {
			flex-wrap: wrap;
			row-gap: 16px;
			column-gap: 12px;
			justify-content: center;
			a{
				font-size: 16px;
			}
		}
	}

	.panel__titles h2 {
		font-size: 18px;
  	}

	.panel__block span {
		font-size: 16px;
		padding: 6px 0;
  	}

	.panel__buttons{
		row-gap: 8px;
		flex-direction: column;
	}
}

@media screen and (max-width: 460px) {
	.panel__titles h2 {
		font-size: 14px;
  	}

	.panel__block span {
		font-size: 12px;
		padding: 4px 0;
  	}

	.sidebar{
		min-height: 140px;
	}

	.sidebar ul a {
		padding: 4px;
		font-size: 16px;
	}
}
//---------Media queries end-----------