//--------Auto preview start------------
.auto__preview{
	background: url('../images/dest/preview__autos.jpg') no-repeat center;
	@include backgroundFirstSectionPage;
	@media screen and (max-width: 600px) {
		padding: 22% 0 22%;
	}	
	@media screen and (max-width: 440px) {
		padding: 30% 0 10%;
	}	
}

.auto__container{
	@include flexContainer($direction: column);
	row-gap: 60px;
	padding: 120px 0;
	color: $black;
	@media screen and (max-width: 1070px) {
		row-gap: 40px;
		padding: 80px 0;
	}
	@media screen and (max-width: 768px) {
		row-gap: 30px;
	 	padding: 60px 0;
	}
}

.preview__desc{
	@include flexContainer($items: center);
	column-gap: 30px;
	position: relative;
	z-index: 2;
}

.preview__title{
	@include fontSizes(36px, 600, 40px, italic);
	letter-spacing: 8px;
	text-transform: uppercase;
	color: $white;
	@media screen and (max-width: 1070px) {
		@include fontSizes(28px, 600, 32px, italic);
		letter-spacing: 5px;
	}
	@media screen and (max-width: 768px) {
		@include fontSizes(18px, 600, 24px, italic);
	}
}

.auto__bg-fon{
	@include background-fon;
}

.auto__filtr{
	border: 1px solid $black;
	padding: 20px;
	border-radius: 10px;
}

.form__search{
	@include flexContainer($direction: column);
	row-gap: 20px;
}

.search__title{
	@include fontSizes($size: 20px, $weight: 500, $style: italic);
	letter-spacing: 4px;
	text-decoration: underline;
	@media screen and (max-width: 768px) {
		font-size: 18px;
	}
}

.search__container{
	@include flexContainer($justify: flex-start);
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 16px;
	@media screen and (max-width: 1070px) {
		justify-content: flex-start;
	}
}

.search__block{
	@include flexContainer($direction: column);
	row-gap: 10px;
	font-style: italic;
	h3{
		@media screen and (max-width: 768px) {
			font-size: 16px;
		}
	}
}

.search__select{
	@include fontSizes($size: 16px, $weight: 700, $style: italic);
	padding: 7px 14px;
	background: $gray;
	color: $white;
	border-radius: 5px;
}

.search__input{
	@include fontSizes($size: 16px, $weight: 700, $style: italic);
	padding: 3px 6px;
	border-radius: 5px;
	@media screen and (max-width: 768px) {
		font-size: 14px;
	}
}

.button__search{
	color: $white;
	margin: auto 0 auto auto;
}

.custom-checkbox:hover{
	cursor: pointer;
}

.custom-checkbox>input {
	position: absolute;
	z-index: -1;
	opacity: 0;
 }
 
 .custom-checkbox>span {
	@include flexContainer($display: inline-flex, $items: center);
	user-select: none;
 }
 
 .custom-checkbox>span::before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #adb5bd;
	border-radius: 0.25em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
 }
 
 .custom-checkbox>input:not(:disabled):active+span::before {
	background-color: #b3d7ff;
	border-color: #b3d7ff;
 }
 
 .custom-checkbox>input:checked+span::before {
	border-color: #0b76ef;
	background-color: #0b76ef;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
 }
 
 .custom-checkbox>input:disabled+span::before {
	background-color: #e9ecef;
 }

@media screen and (max-width: 768px) {
 	.custom-checkbox span{
		font-size: 14px;
	}
}

.sidebar__list{
	@include flexContainer;
	flex-wrap: wrap;
	border-bottom: 1px solid $black;
	padding-bottom: 16px;
	row-gap: 24px;
	@media screen and (max-width: 768px) {
		justify-content: space-between;
	}
}

.sidebar__item{
	@include fontSizes($size: 18px, $weight: 700);
	padding: 16px;
	border-bottom: 3px solid transparent;
	color: $black;
	&:hover{
		border-bottom: 3px solid $gray;
		cursor: pointer;
	}
	&-active{
		border-bottom: 3px solid $black;
		font-weight: 900;
	}
	@media screen and (max-width: 768px) {
		padding: 12px;
		font-size: 16px;
	}
}

.button__search{
	@include sizes($width: 30%);
}

.auto__content, 
.model__container,
.model__car{
	@include flexContainer($direction: column);
}

.auto__content{
	row-gap: 50px;
}

.model__cars{
	@include flexContainer($justify: space-between);
	padding-bottom: 30px;
	border-bottom: 1px solid $gray;
	flex-wrap: wrap;
	row-gap: 20px;
	@media screen and (max-width: 600px) {
		justify-content: center;
	}
}

.model__title{
	@include fontSizes($size: 22px, $weight: 700, $style: italic);
	text-decoration: underline;
	@media screen and (max-width: 768px) {
		font-size: 18px;
	}
}

.model__car{
	@include sizes($width: 280px);
	color: $black;
	img{
		@include sizes;
	}
	&:hover{
		cursor: pointer;
		img{
			transform: scale(1.15);
			cursor: pointer;
			transition: $transition;
		}
	}
	span{
		@include fontSizes($size: 16px, $weight: 400, $style: italic);
	}
}