.footer{
	background-color: $backgroundHeaderFooter;
	@include fontSizes(18px, 700);
	&__container{
		@include flexContainer(flex, column, space-between, center);
		row-gap: 12px;
		padding: 12px 0 8px;
	}
}

.footer__content,
.footer__author{
	@include flexContainer($justify: space-between, $items: center);
	width: 100%;
}

.footer__content{
	border-bottom: 1px solid #FFFFFF;
	padding-bottom: 6px;
	@media screen and (max-width: 900px) {
		@include flexContainer($direction: column, $items: center);
    	row-gap: 12px;
		padding-bottom: 12px;
	}
}

.footer__items{
	@include flexContainer($justify: space-between, $items: center);
	column-gap: 60px;
	@media screen and (max-width: 900px) {
		column-gap: 44px;
	}
	@media screen and (max-width: 600px) {
		column-gap: 30px;
		display: contents;
	}
}

.footer__items-link{
	@include fontSizes(18px, 500);
	&:hover{
		color: aqua;
		transition: $transitionHeaderFooter;
	}
}

.footer__socials{
	@include flexContainer;
	column-gap: 20px;
	&-icon{
		@include fontSizes(28px, 300);
		color:  aqua;
		&:hover{
			color: #FFFFFF;
			transition: $transitionHeaderFooter;
		}
	}
	@media screen and (max-width: 900px) {
		column-gap: 24px;
	}
}

.footer__author{
	@include fontSizes(14px, 300);
	justify-content: flex-end;
	column-gap: 20px;
	span{
		@include fontSizes(14px, 700);
	}	
	&-mail{
		color: aqua;
		&:hover{
			color: #FFFFFF;
			transition: $transitionHeaderFooter;
		}
	}
	@media screen and (max-width: 900px) {
		justify-content: center;
	}
	@media screen and (max-width: 440px) {
		flex-direction: column;
	}
}
