//Для темного хедера
.header-blue{
	background-color: $backgroundHeaderFooter;
}

.header-blue__container{
 	border-bottom: none !important;
}

.header-blue__logout{
	padding: 15px 10px;
	background-color: $backgroundHeaderFooter;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}


.header{
	position: fixed;
	z-index: 2;
	width: 100%;
	top: 0;
	left: 0;
	&__container{
		padding-top: 30px;
		border-bottom: 1px solid #FFFFFF;
		@include flexContainer($justify: space-between, $items: center);
		@media screen and (max-width: 768px) {
			padding-top: 20px;
			.header__menu{
				display: none;
			}
		}
	}
}

.header__list{
	@include flexContainer;
	column-gap: 70px;
	@media screen and (max-width: 900px) {
		column-gap: 36px;
	}
}

.header__item-link{
	@include fontSizes(18px, 500);
	&:hover{
		color: aqua;
		transition: $transition;
	}
}

.header__active{
	@include flexContainer($justify: space-between, $items: center);
	column-gap: 30px;
	@media screen and (max-width: 768px) {
		flex-direction: row-reverse;
		justify-content: space-between;
		width: 100%;
		align-items: flex-start;
	}
}

.header__logout{
	display: none;
	position: absolute;
	top: 88px;
	z-index: 2;
	@media screen and (max-width: 768px) {
		top: 78px;
		right: 10px;
	}
}

.header__cab-button{
	@include fontSizes(20px, 700);
	background: transparent;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
}

.header__cab{
	display: block;
	padding: 16px;
	i{
		margin-right: 12px;
	}
	.header__item{
		@include fontSizes(20px, 500);
		padding: 16px;
		&:hover a{
			display: block;
			color: aqua;
			transition: $transition;
		}
	}
	&:hover .header__logout{
		display: block;
		background: $backgroundHeaderFooter;
		border-radius: 10px;
	}
}

.header__scroll{
	transition: $transition;
	background-color: $backgroundHeaderFooter;
}

.header__container__scrool{
	transition: $transition;
	border-bottom: none;
}

.header__burger {
	@include sizes(30px, 24px);
	@include flexContainer($direction: column, $justify: space-between);
	order: -1;
	display: none;
	&-line {
		display: block;
		background-color: $white;
		@include sizes (30px, 2px);
		position: relative;
		z-index: 10;
	}
	@media screen and (max-width: 768px) {
		display: flex;
	}
}

.burger__menu{
	display: none;
	@media screen and (max-width: 768px) {
		width: 400px;
		height: 500px;
		background-color: $darkBlue;
		border-bottom-left-radius: 10px;
		position: absolute;
		right: 0;
		top: 0;
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;
		row-gap: 60px;
		padding: 20px;
	}
	.burger__menu-nav{
		display: block;
		.header__list{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			row-gap: 20px;
		}
		.header__item-link{
			font-size: 22px;
		}
	}
	.header__cab {
		display: flex;
		flex-direction: column;
		row-gap: 12px;
		.header__logout {
			background-color: #212135;;
			row-gap: 8px;
			display: flex;
			flex-direction: column;
			row-gap: 4px;
			position: relative;
			top: 0;
			right: 0;
			border-radius: 10px;
			.header__item{
				padding: 10px;
				font-size: 18px;
			}
		}
	}
}